.menu {
    position: fixed;
    width: 130px;
    height: 100vh;
    background: #121018;
}

.menu nav ul {
    list-style: none;
}

.menu nav ul li {
    padding: 30px 15px;
    transition: all .4s;
    opacity: .7;
}

.menu nav ul li a {
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.menu nav ul li:hover {
    opacity: 1;
}

.menu nav ul li.active {
    opacity: 1;
    background: blueviolet;
}

